* {
  box-sizing: border-box;
}
.headers {
  display: none;
  font-family: "Krona One", sans-serif;
  font-weight: 10px;
  letter-spacing: 8px;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px rgba(255, 255, 255, 0.623),
    0 0 42px #eeff00, 0 0 82px #ffbb00, 0 0 92px #eeff00;
}
#new_year_cntdwn {
  display: inline;
  font-family: "Krona One", sans-serif;
  font-weight: 10px;
  letter-spacing: 8px;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px rgba(255, 255, 255, 0.623),
    0 0 42px #5271ff, 0 0 82px #5271ff, 0 0 92px #5271ff !important;

  animation: flicker 1.5s infinite alternate !important;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  background-image: linear-gradient(
    to right,
    rgb(0, 7, 58),
    rgb(1, 4, 37),
    rgb(0, 3, 22)
  );
}

#countdown {
  display: flex;
  flex-direction: column;
}

#time {
  margin: 80px;
}

.col h2 {
  font-family: "Chango", cursive;
  font-size: 70px;
  color: white;
  text-shadow: 0px 0px 40px rgba(0, 255, 179, 0.904);
}

.col h6 {
  color: white;
  font-size: 20px;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  50%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff,
      0 0 21px rgba(255, 255, 255, 0.623), 0 0 42px #5271ff, 0 0 82px #5271ff,
      0 0 92px #5271ff;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
